@import "tailwindcss";

.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-no-spinner {
  -moz-appearance: textfield;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 4px;
}
